*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;
}

img {
  max-width: 25%;
}

figure {
  margin: 0;
}

.film {
  width: 50%;
  margin: 50px auto;
  overflow: hidden;
  padding: 10px;
  border: 1px solid grey;
  float: none;
  position: relative;
}

.film-title {
  font-size: 30px;
}

.film-details {
padding-left: 30%;
  /* float: right; */
  /* position: relative; */
  /* display: inline-block; */
  /* width: 60%; */
}

.film-poster {
  float: left;
  position: absolute;
  display: inline-block;
  /* width: 40%; */
}

.action-like {
position: relative;
float: right;
color: red;
}

.action-watch-later {
  position: absolute;
  float: left;
  top: 10px;
  left: 120px;
  color: red;
}
